<body background-image="https://images.squarespace-cdn.com/content/v1/58b38d8659cc684cc8867e42/1505410871477-ZO1WOINXFYYM5TEMLJPG/insurance-claims">
    <div class="container">
      <div class="title">Admin Login</div>
      <p>Don't have an account?<a routerLink='adminregistration'>Creat Your Account</a> it takes less than a minute</p>
      <div class="content">
        <form action="#">
          <div class="user-details">
            
            <div class="input-box" br>
              <span class="details">Username</span>
              <input type="text" placeholder="Enter your username" required>
            </div>
          
            
            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" placeholder="Enter your password" required>
            </div>
            
          
        
          </div>
          <div class="button">
            <input type="submit" value="Register">
          </div>
        </form>
      </div>
    </div>
    <router-outlet></router-outlet>
  
    </body>
    
 
